.app {
  background-color: #f1f2f5;
  height: 110%;
}

.app__body {
  display: flex;
  justify-content: space-between;
}

.app > .feed {
  width: 100%;
  align-items: center;
  justify-content: center;
}
